        #prod {
            margin-top: 1%;
            width: 25%;
            display: grid;
            margin-left: 40%;
        }

        #prod div:hover {
            transform: translateY(-0.4em);
            transition: all 0.5s;
        }

        #prod img {
            width: 100%;
            height: 500px;
        }

        #query {
            width: 10%;
            margin-left: 45%;
            height: 20px;
        }

        #get {
            background-color: cornflowerblue;
            padding: 5px;
            border: none;
        }

        #scroll {
            position: fixed;
            bottom: 100px;
            background-color: inherit;
            font-weight: bolder;
            font-size: 70px;
            margin-left: 95%;
            border: none;
            padding: 1%;
        }

        #scroll :hover {
            background-color: cadetblue;
            cursor: pointer;
        }

        .ownerClass {
            text-align: center;
        }