        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }

        .coverPage {
            background: url(https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png);
            height: 500px;
            position: sticky;
        }

        .homeCover {
            width: 100%;
            display: flex;
            flex-direction: row;
            /* background:url(https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png); */
            /* background-size: cover; */
            /* background-position: 50%; */
            padding: 1em;
            position: fixed;
        }

        .newPost {
            text-align: center;
            height: 35px;
            display: inline-block;
            padding: 7px 14px 10px 9px;
            border-radius: 3px;
            font-size: 15px;
            position: relative;
            background-color: #1bb76e;
            color: #fff;
            margin-left: 1em;
            padding-bottom: 2em;
        }

        .newpost {
            display: flex;
        }

        .searchbar {
            background: hsla(0, 0%, 100%, .25);
            height: 1.6em;
            margin-left: 30%;
            width: 25%;
            font-size: 1.5em;
            border-radius: 0.2em;
        }

        .searchbar input :active {
            border: none;
        }

        .searchbar input {
            background: hsla(0, 0%, 100%, .25);
            padding: 1em 2em 0.66em 2em;
            width: 90%;
            color: white;
            border: none;
        }

        .searchbar i:hover {
            cursor: pointer;
        }

        .searchbar input::placeholder {
            color: silver;
            font-size: 1em;
        }

        a {
            text-decoration: none;
        }

        .leader {
            margin-left: 2em;
        }

        .leader :hover {
            cursor: pointer;
        }

        .goAddFree {
            margin-left: 2em;
        }

        .goAddFree button {
            border: none;
            background: #6432f9;
            box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
            padding: 0 10px 0 9px;
            overflow: hidden;
            margin: auto 0;
            line-height: 35px;
            border-radius: 0.2em;
            color: white;
            font-size: 1em;
            font-weight: bold;
            margin-left: 6em;
            margin-right: 2em;
        }

        .goAddFree button:hover {
            cursor: pointer;
        }

        .signin button {
            box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
            padding: 0 10px 0 9px;
            overflow: hidden;
            margin: auto 0;
            line-height: 35px;
            border-radius: 0.2em;
            background-color: inherit;
            border: none;
            color: white;
            font-size: 1em;
            font-weight: bold;

        }

        .signin button:hover {
            cursor: pointer;
        }

        .signup button {
            box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
            padding: 0 10px 0 9px;
            overflow: hidden;
            margin: auto 0;
            line-height: 35px;
            border-radius: 0.2em;
            background-color: inherit;
            border: none;
            font-size: 1em;
            background: #1bb76e;
            margin-left: 4em;
            font-weight: bold;
            color: white;
        }

        .signup button:hover {
            cursor: pointer;
        }

        .fontmessage {
            font-size: 24px;
            font-family: Proxima Nova ExtraBold, Helvetica Neue, Helvetica, Arial, sans-serif;
            letter-spacing: .6px;
            color: #aed8ea;
            text-align: center;
            margin-top: 12px;
            min-height: 34px;
            position: relative;
        }

        .categories {
            background: inheri;
            height: 34px;
            width: 86%;
            margin-left: 7%;
            padding: 1%;
        }

        .exploretags {
            color: rgb(212, 207, 207);
            font-size: 1em;

        }

        .exploretags:hover {
            cursor: pointer;
        }

        .catGrids {
            display: flex;
            justify-content: space-between;
            margin-top: 1em;
        }

        .catGrids div {
            margin-right: 0.5em
        }

        .catGrids p {
            height: 50px;
            font-family: Proxima Nova Bold, Helvetica Neue, Helvetica, Arial, sans-serif;
            padding: 12px;
            width: 100%;
            font-weight: bold;
            text-align: center;
            /* color: #fff; */
        }

        .hydra {
            background-color: rgb(64, 112, 181);
        }

        .oddly {
            background-color: rgb(94, 88, 203);

        }

        .coffe {
            background-color: rgb(56, 60, 100);
            ;
        }

        .staff {
            background-color: rgb(19, 45, 49);
            ;
        }

        .gaming {
            background-color: rgb(43, 26, 90);
        }

        .memes {
            background-color: rgb(186, 81, 159);
        }

        .clean {
            background-color: rgb(50, 141, 103);
        }

        .funny {
            background-color: rgb(99, 56, 117);
        }

        .aww {
            background-color: rgb(96, 174, 187);

        }

        .oc {
            background-color: rgb(171, 128, 184);
        }

        .awesome {
            background-color: rgb(132, 114, 189);
        }

        .spicy {
            background-color: #51535a;
        }

        .art {
            background-color: rgb(255, 81, 186);

        }

        .catGrids div {
            border-radius: 10px;
        }

        .catGrids div:hover {
            transform: translateY(-0.4em);
            transition: all 0.5s;
            cursor: pointer;
        }

        .tagsExplore {
            display: grid;
            grid-template-columns: 50% 50%;
        }

        .tagsExplore:hover {
            cursor: pointer;
        }

        .moretags {
            text-align: right;
            color: silver;
            margin-right: 0.5em;
        }

        #mDiv {
            width: 80%;
            background-color: #2e3035;
            display: grid;
            margin: auto;
            grid-template-columns: repeat(6, 15.5%);
            grid-gap: 1%;
        }

        #prod {
            width: 90%;
            margin-left: 5%;
            display: flex;
            flex-direction: column;
        }

        #prod div img {
            border-radius: 10px;
        }

        #prod p {
            text-align: center;
            color: white;
        }

        #prod1 div img {
            border-radius: 10px;
        }

        #prod div:hover {
            transform: translateY(-0.4em);
            transition: all 0.5s;
            cursor: pointer;
        }

        #prod1 div:hover {
            transform: translateY(-0.4em);
            transition: all 0.5s;
            cursor: pointer;
        }

        #prod2 div:hover {
            transform: translateY(-0.4em);
            transition: all 0.5s;
            cursor: pointer;
        }

        #prod3 div:hover {
            transform: translateY(-0.4em);
            transition: all 0.5s;
            cursor: pointer;

        }

        #prod1 p {
            text-align: center;
            color: white;
        }

        #prod2 div img {
            border-radius: 10px;
        }

        #prod2 p {
            text-align: center;
            color: white;
        }

        #prod3 div img {
            border-radius: 10px;
        }

        #prod3 p {
            text-align: center;
            color: white;
        }

        #prod4 div img {
            border-radius: 10px;
        }

        #prod4 p {
            text-align: center;
            color: white;
        }

        #prod5 div img {
            border-radius: 10px;
        }

        #prod5 p {
            text-align: center;
            color: white;
        }

        .postsColor {
            color: rgb(88, 86, 86);
        }

        .catTitle {
            color: white;
        }

        .imgGif {
            width: 100%
        }

        #ParentSearch {
            top: 50px;
            width: 24.5%;
            margin: auto;
            justify-content: center;
            position: absolute;
            margin-left: 41.4%;
            margin-top: 0.1em;
            color: white;
            box-shadow: 1px 1px 2px 1px silver;
            background-color: rgb(43, 26, 90);
            max-height: 100px;
            overflow-y: scroll;
        }

        #ParentSearch div {
            box-shadow: 1px 1px 2px 1px gray;
            text-align: center;
        }

        #ParentSearch div:hover {
            cursor: pointer;
        }